html,body{
    margin:0;
    padding:0;
}

html,body{
    // background: linear-gradient(to bottom right,#ffdde1,#ee9ca7);
    background-repeat: no-repeat;
    color: #656565;
    min-width:320px;
}

.navbar{
    box-shadow: 0px 1px 20px #e5e5e5;
}
a {
    color: #656565;
    &:hover{
        color: #a8c4d4;
    }
}
h1,h2,h3,h4,h5,h6,ul,li,p,div,dl,dt,dd,img{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

.search-box input {
    border-color:white;
    :focus{
        border-color:white;
    }
}

@import './detail.less';

@media screen and (max-width: 900px) {
  body{
      font-size 14px;
  }
}